.container
  %div.jumbotron
    %h1 T-Gallery
    %p.lead
      This a RoR application to
      %strong.text-error Upload
      you images, and 
      %strong.text-error Share
      with your best friends!
    %a.btn.btn-success.btn-large{:href => '/contact'} Contact us!
    
      